.completed {
    text-decoration:line-through;
    
}

li {
    display: flex;
    align-items: center;
}

#deshacer {
    width: 100%;
    height: 5vh; 
    background-color: rgb(232, 241, 253);
    text-align: center;
    color: #8a8b94;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 6px;

    /*
    Se oculta pero deja el mismo espacio
    visibility:hidden; 
    Se oculta y desaparece el espacio 
    display:none;  */  
}

.hide {
    visibility:hidden; 
}

.centrar {
    text-align: center;
}

.masTareas {
    width: 100%;
    height: 4vh;
    text-align: center; 
    background-color: #e0d7d7;
    padding-top: 20px;
    padding-bottom: 4px;
}

